<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.firebase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">
        <activity android:name=".MainActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".Home" />
        <activity android:name=".LoginWithPhone" />
        <activity android:name=".Profile" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".MessageList" />
        <activity android:name=".AllUserActivity" />
        <activity android:name=".UpdateStatus"></activity>
    </application>

</manifest>